.contacts {
  @include list-reset;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.contacts__item {
  display: flex;
  margin-bottom: 30px;

  p {
    margin: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__type {
  width: 120px;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts__link {
  @include link;
}
