.header {
  z-index: 10;
  position: fixed;
  top: 0;

  width: 100%;

  transition: box-shadow 0.25s ease-in-out;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 25px;
    padding-bottom: 25px;
  }

  background-color: #ffffff;

  border-bottom: 1px solid #e3e3e3;
  appearance: none;

  &--scrolled {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
}

.header__logo {
  @include opacity-interactive;

  svg {
    display: block;
  }
}

.header__menu-button {
  display: none;

  @include button-reset;
}

.header__menu {
  padding-top: 10px;
}

@include tablet {
  .header .container {
    flex-wrap: wrap;
  }

  .header__menu-button {
    display: block;

    svg {
      display: block;
    }

    line {
      transform: translate(0);
      transition: transform 0.3s ease-in-out;
    }

    &--active {
      .move-left {
        transform: translateX(-50%);
        transition: transform 0.3s ease-in-out;
      }

      .move-right {
        transform: translateX(50%);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  .header__menu {
    width: 100%;
    padding: 0;
  }
}

@include mobile {
  .header__logo {
    svg {
      width: auto;
      height: 30px;
    }
  }

  .header__menu-button {
    svg {
      width: auto;
      height: 30px;
    }
  }
}
