.header {
  z-index: 10;
  position: fixed;
  top: 0;

  width: 100%;

  transition: box-shadow $default-transition-settings;

  background-color: #ffffff;

  border-bottom: 1px solid #e3e3e3;


  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding-top: 25px;
    padding-bottom: 21px;

    @include tablet {
      flex-wrap: wrap;
      padding-top: 12px;
      padding-bottom: 11px;
    }

    @include mobile {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &--scroll {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }

  &__logo {
    outline: none;

    @include opacity-hover;
  }

  &__logo svg {
    display: block;

    @include mobile {
      width: auto;
      height: 30px;
    }
  }

  &__toggle {
    display: none;

    @include button-reset;

    @include mobile {
      display: block;

      svg {
        display: block;
        width: auto;
        height: 30px;
      }

      line {
        transform: translate(0);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  &__toggle[aria-pressed="true"] {
    .move-left {
      transform: translateX(-50%);
      transition: transform 0.3s ease-in-out;
    }

    .move-right {
      transform: translateX(50%);
      transition: transform 0.3s ease-in-out;
    }
  }

  &__nav {
    padding-top: 10px;

    @include tablet {
      padding: 0;
    }

    @include mobile {
      overflow-y: auto;

      position: fixed;
      top: 61px;
      right: 0;
      bottom: 100%;
      left: 0;

      width: 100%;

      background-color: $color-default-white;

      transition: bottom $default-transition-settings;
    }
  }

  &__toggle[aria-pressed="true"]+.header__nav {
    @include mobile {
      bottom: 0;
    }
  }
}
