.social {
  @include list-reset;
  display: flex;

  &__item {
    margin-right: 20px;
  }

  &__link {
    display: block;

    transition: transform $default-transition-settings;

    @include hover {
      svg {
        fill: $color-green;

        transition: fill $default-transition-settings;
      }

      transform: scale(1.2);

      transition: transform $default-transition-settings;
    }

    &:active {
      opacity: 0.6;

      transition: opacity $default-transition-settings;
    }
  }
}
