<section class="about section section--50" id="start">
  <div class="container">
    <div class="about__info">
      <h1 class="about__title">Меня зовут <span>И</span>лья <span>Ф</span>окин.</h1>
      <p class="about__content">
        Я&nbsp;junior front-end developer. В&nbsp;данный момент ищу
        работу в&nbsp;Обнинске, Москве, либо удаленно в&nbsp;любом другом месте. Стараюсь
        постоянно развиваться, поэтому хотелось&nbsp;бы стать частью коллектива,
        сотрудничество с&nbsp;которым принесет удовольствие и&nbsp;прогресс.
      </p>
      <ul class="about__contacts contacts">
        <li class="contacts__item">
          <span class="contacts__type">Тел.</span>
          <a class="contacts__link link" href="tel:+79107066623">+7 (910) 706-66-23</a>
        </li>
        <li class="contacts__item">
          <span class="contacts__type">Скайп</span>
          <p>mrfourking</p>
        </li>
        <li class="contacts__item">
          <span class="contacts__type">Эл. Почта</span>
          <a class="contacts__link link" href="mailto:ilyafokinn@yandex.ru">ilyafokinn@yandex.ru</a>
        </li>
        </li>
        </li>
        <li class="contacts__item contacts__item--social">
          <span class="contacts__type">Соцсети</span>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" href="#" target="_blank">
                <span class="visually-hidden">Vkontakte</span>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite_auto.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" target="_blank">
                <span class="visually-hidden">Instagram</span>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite_auto.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" target="_blank">
                <span class="visually-hidden">Twitter</span>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite_auto.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" target="_blank">
                <span class="visually-hidden">Github</span>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite_auto.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" target="_blank">
                <span class="visually-hidden">Whatsapp</span>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite_auto.svg#whatsapp"></use>
                </svg>
              </a>
            </li>
            <!-- <li class="social__item">
                <a href="#">
                  <span class="visually-hidden">Telegram</span>
                  <svg width="16" height="16">
                    <use xlink:href="img/sprite_auto.svg#telegram"></use>
                  </svg>
                </a>
              </li> -->
          </ul>
        </li>
      </ul>
      <div class="about__btns">
        <a class="about__btn btn btn--green" href="#">Связаться</a>
        <a class="about__btn btn btn--grey" href="resume.pdf">Скачать резюме</a>
      </div>
    </div>
    <div class="about__img">
      <img src="http://placehold.it/300x200">
    </div>
  </div>
</section>
