<section class="education section" id="education">
  <div class="row container">
    <div class="col-30">
      <h2 class="education__title title"><span>О</span>бразование</h2>
      <p class="education__intro intro">
        Самое крутое ощущение&nbsp;&mdash; когда твой арсенал пополняется новыми
        фишками или даже областями знаний. И&nbsp;ты&nbsp;можешь применить это на&nbsp;практике.
      </p>
    </div>
    <div class="col-70">
      <ul class="education__list">
        <li class="education__item">
          <p class="education__item-title">
            <b>Профессия &laquo;Фронтенд-разработчик&raquo;</b>
            <span>HTML Academy</span>
          </p>
          <span class="education__date">Май, 2019&nbsp;&mdash; Ноябрь, 2019</span>
          <p class="education__desc">На&nbsp;курсе изучил адаптивную верстку, автоматизацию верстки, современные подходы
            к
            разработке, базовые знания&nbsp;JS, работа с&nbsp;DOM, AJAX.</p>
        </li>
        <li class="education__item">
          <p class="education__item-title">
            <b>Автоматизированные системы управления и&nbsp;обработки информации</b>
            <span>ИАТЭ&nbsp;НИЯУ&nbsp;МИФИ</span>
          </p>
          <span class="education__date">2008&nbsp;&mdash; 2012</span>
          <p class="education__desc">Бакалавр по&nbsp;направлению &laquo;Анализ и&nbsp;синтез проектных решений&raquo;</p>
        </li>
      </ul>
    </div>
  </div>
</section>
