<section class="experience section section--30-70" id="exp">
  <div class="container">
    <div class="section__intro">
      <h2 class="experience__title">Опыт</h2>
      <p class="experience__intro">
        Самое крутое ощущение&nbsp;&mdash; когда твой арсенал пополняется новыми
        фишками или даже областями знаний. И&nbsp;ты&nbsp;можешь применить это на&nbsp;практике.
      </p>
    </div>
    <div class="section__content">
      <ul class="experience__list date-list">
        <li class="date-list__item">
          <h3 class="date-list__item-title">
            <b>HTML-верстальщик</b>
            <span>Лига&nbsp;А.</span>
          </h3>
          <span class="date-list__date">Сентябрь, 2020&nbsp;&mdash; по настоящее время</span>
          <p class="date-list__desc">
            Вёрстка многостраничных сайтов и&nbsp;лендингов, вёрстка компонентов дизайн-систем. Первичная подготовка
            проектов
            к&nbsp;разработке. Декомпозиция проектов на&nbsp;модули и&nbsp;компоненты. Помощь в&nbsp;доработке
            существующих проектов.
            Вёрстка с&nbsp;помощью шаблонизотора Pug. Рефакторинг проектов и&nbsp;модулей. Вёрстка под CMS
            Wordpress.
          </p>
        </li>
        <li class="date-list__item">
          <h3 class="date-list__item-title">
            <b>HTML-верстальщик стажер</b>
            <span>Лига&nbsp;А.</span>
          </h3>
          <span class="date-list__date">Апрель, 2020&nbsp;&mdash; Сентябрь, 2020</span>
          <p class="date-list__desc">
            Вёрстка многостраничных сайтов и&nbsp;лендингов, вёрстка компонентов дизайн-систем. Первичная подготовка
            проектов
            к&nbsp;разработке.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
