<section class="experience section section--30-70" id="exp">
  <div class="container">
    <div class="section__intro">
      <h2 class="experience__title">Опыт</h2>
      <p class="experience__intro">
        Самое крутое ощущение&nbsp;&mdash; когда твой арсенал пополняется новыми
        фишками или даже областями знаний. И&nbsp;ты&nbsp;можешь применить это на&nbsp;практике.
      </p>
    </div>
    <div class="section__content">
      <ul class="experience__list date-list">
        <li class="date-list__item">
          <h3 class="date-list__item-title">
            <b>Профессия &laquo;Фронтенд-разработчик&raquo;</b>
            <span>HTML Academy</span>
          </h3>
          <span class="date-list__date">Май, 2019&nbsp;&mdash; Ноябрь, 2019</span>
          <p class="date-list__desc">На&nbsp;курсе изучил адаптивную верстку, автоматизацию верстки, современные подходы
            к
            разработке, базовые знания&nbsp;JS, работа с&nbsp;DOM, AJAX.</p>
        </li>
        <li class="date-list__item">
          <h3 class="date-list__item-title">
            <b>Автоматизированные системы управления и&nbsp;обработки информации</b>
            <span>ИАТЭ&nbsp;НИЯУ&nbsp;МИФИ</span>
          </h3>
          <span class="date-list__date">2008&nbsp;&mdash; 2012</span>
          <p class="date-list__desc">Бакалавр по&nbsp;направлению &laquo;Анализ и&nbsp;синтез проектных решений&raquo;</p>
        </li>
      </ul>
    </div>
  </div>
</section>
