<header class="header">
  <div class="container">
  <a class="header__logo" href="#start">
    <svg width="90" height="30" viewbox="0 0 150 50">
      <use xlink:href="img/sprite_auto.svg#logo"></use>
    </svg>
  </a>
  <button class="header__menu-button" type="button">
    <svg width="30" height="30" fill="black" viewbox="0 0 10 10">
      <line class="move-left" x1="1" y1="2" x2="9" y2="2" stroke="black" stroke-linecap="round"/>
      <line  x1="1" y1="5" x2="9" y2="5" stroke="black" stroke-linecap="round"/>
      <line class="move-right" x1="1" y1="8" x2="9" y2="8" stroke="black" stroke-linecap="round"/>
    </svg>

  </button>
  <nav class="header__menu">
    <ul class="main-menu main-menu--nojs">
      <li class="main-menu__item">
        <a href="#start">О себе</a>
      </li>
      <li class="main-menu__item">
        <a href="#skills">Навыки</a>
      </li>
      <li class="main-menu__item">
        <a href="#exp">Опыт</a>
      </li>
      <li class="main-menu__item">
        <a href="#education">Образование</a>
      </li>
      <li class="main-menu__item">
        <a href="#portfolio">Портфолио</a>
      </li>
      <li class="main-menu__item">
        <a href="#callback">Связаться со мной</a>
      </li>
    </ul>
  </nav>
</div>
</header>
