<section class="portfolio  section" id="port">
  <div class="container">
    <h2 class="portfolio__title title"><span>П</span>ортфолио</h2>
    <!-- <p class="portfolio__intro intro">
        Мои скромные результаты
      </p> -->
    <ul class="portfolio__menu">
      <li class="portfolio__menu-item"><a class="portfolio__menu-item-link portfolio__menu-item-link--active"
          href="#">Всё</a></li>
      <li class="portfolio__menu-item"><a class="portfolio__menu-item-link" href="#">Сайты</a></li>
      <li class="portfolio__menu-item"><a class="portfolio__menu-item-link" href="#">Учебные проекты</a></li>
      <li class="portfolio__menu-item"><a class="portfolio__menu-item-link" href="#">Тестовые задания</a></li>
    </ul>
    <ul class="portfolio__list container">
      <li class="portfolio__item">
        <a class="portfolio__link">
          <img class="portfolio__item-image" src="http://placehold.it/340x340">
          <h3 class="portfolio__item-name">Название проекта</h3>
          <span class="portfolio__item-date">Дата реализации проекта</span>
          <p class="portfolio__item-description">Описание проекта</p>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link">
          <img class="portfolio__item-image" src="http://placehold.it/340x340">
          <h3 class="portfolio__item-name">Название проекта</h3>
          <span class="portfolio__item-date">Дата реализации проекта</span>
          <p class="portfolio__item-description">Описание проекта</p>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link">
          <img class="portfolio__item-image" src="http://placehold.it/340x340">
          <h3 class="portfolio__item-name">Название проекта</h3>
          <span class="portfolio__item-date">Дата реализации проекта</span>
          <p class="portfolio__item-description">Описание проекта</p>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link">
          <img class="portfolio__item-image" src="http://placehold.it/340x340">
          <h3 class="portfolio__item-name">Название проекта</h3>
          <span class="portfolio__item-date">Дата реализации проекта</span>
          <p class="portfolio__item-description">Описание проекта</p>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link">
          <img class="portfolio__item-image" src="http://placehold.it/340x340">
          <h3 class="portfolio__item-name">Название проекта</h3>
          <span class="portfolio__item-date">Дата реализации проекта</span>
          <p class="portfolio__item-description">Описание проекта</p>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link">
          <img class="portfolio__item-image" src="http://placehold.it/340x340">
          <h3 class="portfolio__item-name">Название проекта</h3>
          <span class="portfolio__item-date">Дата реализации проекта</span>
          <p class="portfolio__item-description">Описание проекта</p>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link">
          <img class="portfolio__item-image" src="http://placehold.it/340x340">
          <h3 class="portfolio__item-name">Название проекта</h3>
          <span class="portfolio__item-date">Дата реализации проекта</span>
          <p class="portfolio__item-description">Описание проекта</p>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link">
          <img class="portfolio__item-image" src="http://placehold.it/340x340">
          <h3 class="portfolio__item-name">Название проекта</h3>
          <span class="portfolio__item-date">Дата реализации проекта</span>
          <p class="portfolio__item-description">Описание проекта</p>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link">
          <img class="portfolio__item-image" src="http://placehold.it/340x340">
          <h3 class="portfolio__item-name">Название проекта</h3>
          <span class="portfolio__item-date">Дата реализации проекта</span>
          <p class="portfolio__item-description">Описание проекта</p>
        </a>
      </li>
    </ul>
  </div>
</section>
