.section {
  border-bottom: 1px solid $color-grey;

  .container {
    display: grid;
    column-gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &--50 {
    .container {
      grid-template-columns: repeat(2, 1fr);

      @include tablet {
        &>*:last-child {
          order: -1;
        }
      }
    }
  }

  &--30-70 {
    .container {
      grid-template-columns: 1fr 2fr;
      column-gap: 50px;
    }
  }

  &__intro {
    @include tablet {
      margin-bottom: 30px;
    }
  }

  @include tablet {
    .container {
      display: flex;
      flex-direction: column;
    }
  }
}
