@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin desktop--xl {
  @media (max-width: $viewport--xxl - 1) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $viewport--xl - 1) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $viewport--lg - 1) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $viewport--md - 1) {
    @content;
  }
}

@mixin mobile--sm {
  @media (max-width: $viewport--sm - 1) {
    @content;
  }
}

// Mobile first

/* @mixin viewport--md {
  @media (min-width: $viewport--md) {
    @content;
  }
}

@mixin viewport--lg {
  @media (min-width: $viewport--lg) {
    @content;
  }
}

@mixin viewport--xl {
  @media (min-width: $viewport--xl) {
    @content;
  }
}

@mixin viewport--xxl {
  @media (min-width: $viewport--xxl) {
    @content;
  }
} */

@mixin opacity-interactive {
  transition: opacity 0.2s ease;

  @media (pointer: fine) {

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-reset {
  padding: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;

  outline: 0;
}
